mod.cfg
sprite/npc/cache/
map/build/
image/cache/
battle/formation/temp/**
battle/formation/import/enemy
battle/item/temp/**
battle/partner/temp/**
editor/
out/
sprite/player/cache/**
sprite/player/temp/
world/partner/temp/